################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SendQuickEmailWithSES/CloudGuy.SendQuickEmailWithSES/.vs/CloudGuy.SendQuickEmailWithSES/v15
/SendQuickEmailWithSES/CloudGuy.SendQuickEmailWithSES/bin/Debug
/SendQuickEmailWithSES/CloudGuy.SendQuickEmailWithSES/obj/Debug
/SendQuickEmailWithSES/CloudGuy.SendQuickEmailWithSES/packages
